---
layout: default
title: Example
---
<div class="row">
	<div class="span12">
		<h1>My Projects</h1>
		<hr><br>
	</div>
</div>
<div class="row">
	<div class="span9">
	  	{% for post in site.tags.project %}
		    
		      <a href="{{ post.url }}">
		      	<h2>
		      		{{ post.title }}
		      	</h2>
		      </a>
		      <p>
		      	<b>{{ post.date | date_to_string }}</b> {{ post.excerpt }} 
		      </p>		    
	  	{% endfor %}		
	</div>
	<div class="span3">
		{% include contact.html %}
	</div>
</div>
