---
layout: default
title: Blog
---
<div class="mdl-grid portfolio-max-width">
	{% for post in site.posts %}
	<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
		<div class="mdl-cell mdl-cell--8-col">			
			<h2 class="mdl-card__title-text">
				{{ post.title }}
			</h2>
			<div class="mdl-card__supporting-text padding-top">
				<span>Posted {{ post.date | date_to_string }}</span>	
			</div>
			<div class="mdl-card__supporting-text no-left-padding">
				<p>{{ post.excerpt }}</p>
				{% if page.categories %}
					<span>Category: {{ post.categories }} </span>
				{% endif %}
			</div>
		</div>
		{% if post.previewimage %}
		<div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
			<img class="article-image" src="{{ post.previewimage }}" border="0" alt="">
		</div>
		{% endif %}
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ post.url }}">Read more</a>
		</div>
	</div>
	{% endfor %}	
</div>
