
<h4>
	Find me on:  
</h4>
<h5>
	<a href="https://twitter.com/Kanpai888">
		<img img src="/assets/icons/twitter.png" alt="Twitter" height="42" width="42"> Twitter 
	</a> 
</h5> 
<h5>
	<a href="https://plus.google.com/103713859111269028349/posts">
		<img img src="/assets/icons/google-plus.png" alt="Google" height="42" width="42"> Google+ 
	</a> 
</h5> 
<h5>
	<a href="https://www.facebook.com/gennamlam">
		<img img src="/assets/icons/facebook.png" alt="Facebook" height="42" width="42"> Facebook 
	</a> 
</h5> 
<h5>
	<a href="http://uk.linkedin.com/pub/gen-nam-lam/4a/67b/72a">
		<img img src="/assets/icons/linkedin.png" alt="Linkedin" height="42" width="42"> Linkedin 
	</a> 
</h5> 
<h5>
	<a href="mailto:gennamlam@gmail.com">
		<img img src="/assets/icons/mobileme.png" alt="Linkedin" height="42" width="42"> Email 
	</a> 
</h5> 

