---
layout: default
---

<!--Layout that allows for full control over the HTML elements that go into the mdl-grid-->
<div class="mdl-grid portfolio-max-width">
	<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">{{ page.title }}</h2>
		</div>
		<!--Only include a title image if the post specifies one-->
		{% if page.title-image %}
		<div class="mdl-card__media">
			<img class="article-image" src="{{ page.title-image }}" border="0" alt="">
		</div>
		{% endif %}
		<div class="mdl-card__supporting-text">
			<strong>Published</strong>
			<span>{{ page.date | date_to_string }}</span>
		</div>
		<div class="mdl-grid portfolio-copy">
			{{ content }}
		</div>
	</div>
</div>

